In [1]:
# Değişken isimleri snake case ile yazılmalıdır
# Değişken isimleri olabildiğince ingilizce olmalıdır
my_new_variable = "yeni değişken snake case ile"
print(my_new_variable)

yeni değişken snake case ile

In [9]:
x = 99
x = 2
y = "Muzaffer"
z = int("1")
print(x + z)

3

In [12]:
#veri tipi belirterek atama yapmak

In [13]:
x = str(3)    # x  '3' metinsel ifade
y = int(3)    # y  3 tam sayı
z = float(3)  # z  3.0 ondalık sayı

In [12]:
x = 5j
y = "Fransa"
print(type(x))
print(type(y))

<class 'complex'>
<class 'str'>

In [ ]:
#stringler double quotelarla yani çitft tırnaklarla veya tek tırnaklarla kullanılabilir
x = "Talha"
# Bu iki satır arasında fark yoktur
x = 'Talha'
# sadece tek tırnak veya çift tırnak kullanılmalı biri seçilmeli

In [ ]:
y = 12
Y = 4

In [14]:
# Tek satırda birden fazla değişken tanımlanabilir
x, y, z = "Okul", "Öğrenci", "Bilgisayar"
print(x)
print(y)
print(z)

Okul
Öğrenci
Bilgisayar

In [19]:
fruits = ["elma", "armut", "portakal"]
print("Bulunan item sayısı: ",len(fruits))
x, y, z = fruits
print(x)
print(y)
print(z)

Bulunan item sayısı:  3
elma
armut
portakal

In [33]:
x = 5
y = 10
print(x + y)

15

In [22]:
x = "Python "
y = "mükemmel "
z = "1"
t = " dildir"
print(x + y + z + t)

Python mükemmel 1 dildir

In [ ]:
# Kullanıcıdan Veri Alma İnputlar

In [3]:
username = int(input("kullanıcı adı giriniz:"))

kullanıcı adı giriniz: 15

In [4]:
print(type(username))
print("Kullanıcı adı: " + str(username))

<class 'int'>
Kullanıcı adı: 15

In [13]:
# Alıştırma 1:
#Alıştırma: company_name , place_name değişkenlerini kullanarak bir aşağıdaki cümleyi ekrana yazdırınız:
#Toyota Japonya'da kurulmuştur
company_name = "Ford"
place_name = "İngiltere"
main_text = company_name + " " + place_name + "'da " + "kurulmuştur"
print(main_text)

Ford İngiltere'da kurulmuştur

In [18]:
# Alıştırma 2:
# Kullanıcıdan kuruluş yeri, şirket adı, kuruluş yılı inputlarını alarak bu cümleyi tekrar oluşturunuz:
# Örnek: Toyota 1937‘de Japonya ’da kurulmuştur.
date = 1937
second_text = company_name + " " + str(date)
print(second_text)

Ford 1937

In [1]:
# Alıştırma 2:
# Kullanıcıdan kuruluş yeri, şirket adı, kuruluş yılı inputlarını alarak bu cümleyi tekrar oluşturunuz:
# Örnek: Toyota 1937‘de Japonya ’da kurulmuştur.
date = 1937
second_text = company_name + " " + str(date) + "'de " + place_name + "'da " + "kurulmuştur"
print(second_text)

NameError: name 'company_name' is not defined