In [ ]:
# https://www.kaggle.com/datasets/shivamb/netflix-shows

In [ ]:
# En çok filmin çıktığı yıl hangisidir (relase) ?

In [5]:
import pandas as pd

In [6]:
print(pd.__version__)

2.2.0

In [7]:
import pandas as pd

df = pd.read_csv('netflix_titles.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [13]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [15]:
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [17]:
movie_df =df[df['type']=='Movie']

In [18]:
movie_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...

In [19]:
movie_df['count'] = 1

/var/folders/zq/4j2py0m9093fws0mymfysjz80000gn/T/ipykernel_31074/1014614578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['count'] = 1

In [22]:
movie_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,count
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,1
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",1
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,1
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,1

In [23]:
movie_df['count'] = 1
movie_df.groupby(["release_year"]).sum()['count']

/var/folders/zq/4j2py0m9093fws0mymfysjz80000gn/T/ipykernel_31074/2496690158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['count'] = 1

release_year
1942      2
1943      3
1944      3
1945      3
1946      1
       ...
2017    767
2018    767
2019    633
2020    517
2021    277
Name: count, Length: 73, dtype: int64

In [24]:
relased_years_summed = movie_df.groupby(["release_year"]).sum().reset_index()[["release_year", "count"]]

In [25]:
relased_years_summed

    release_year  count
0           1942      2
1           1943      3
2           1944      3
3           1945      3
4           1946      1
..           ...    ...
68          2017    767
69          2018    767
70          2019    633
71          2020    517
72          2021    277

[73 rows x 2 columns]

In [28]:
relased_years_summed.sort_values(["count"], ascending=False)

    release_year  count
69          2018    767
68          2017    767
67          2016    658
70          2019    633
71          2020    517
..           ...    ...
12          1961      1
14          1963      1
17          1966      1
5           1947      1
4           1946      1

[73 rows x 2 columns]

In [29]:
# Netflixe hangi yıl daha fazla içerik eklendi ? (moie, tv show)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df['date_new'] = df['date_added'].str.strip()

In [ ]:
print(df["date_added"][0])

In [ ]:
# zaman ifadeleri datetime a dönüştürülmelidir
# date_added    8797 non-null   object --- obje olmasını tercih etmeyiz
df["date_new"] = pd.to_datetime(df["date_new"])

In [ ]:
print(df["date_new"][0])

In [ ]:
df.info()