In [3]:
# Fonksiyonlar
def muzafferfonksiyonu():
  print("Merhaba bu bir fonksiyon")

muzafferfonksiyonu()

Merhaba bu bir fonksiyon

In [4]:
def my_function():
  return("return ile function ?")

my_function()

'return ile function ?'

In [6]:
def my_function(fname, lname):
  print("benim adım " +fname + " " + lname)

my_function("Muzaffer", "Candan")

benim adım Muzaffer Candan

In [8]:
def my_function(fname = "mehmet", lname = "yılmaz"):  #burada default value lar yerleştirdik
  print("benim adım " +fname + " " + lname)
first_name = input("lütfen isminizi giriniz: ")
last_name = input("lütfen isminizi giriniz: ")

my_function(first_name, last_name)

lütfen isminizi giriniz:  muzaffer
lütfen isminizi giriniz:  candan

benim adım muzaffer candan

In [9]:
def my_function(age):
  print("Merhaba benim yaşım " + str(age))
age = 20
my_function(age)

Merhaba benim yaşım 20

In [10]:
def kredi_cek(para,name):
  return(para)
my_money = 50
my_name = "muzaffer"
my_money +=(kredi_cek(20,my_name))

print(my_money)

70

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [11]:
# Try Except
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

In [ ]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

In [ ]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

In [13]:
try:
  print("x")
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

x
The 'try except' is finished

In [ ]:
#try except yerine kullanılabilir
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

In [ ]:
# Pytoh Format()
price = 49
txt = "The price is {} TL"
print(txt.format(price))

In [ ]:
txt = "The price is {:.2f} TL"

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))